## Introduction

* DataFrame is a 2-dimensional labeled data structutre with columns of potentially different types. It is like spreadsheet or SQL table, or dict of series objects. Used as pandas object
* Comprised of 2 or more series
* axis = 0 refers to the index
* axis = 1 refers to the columns

In [1]:
import pandas as pd

In [2]:
data = {
    'a':[10, 20, 30], 
    'b':[100, 200, 300],
    'c':[1000, 2000, 3000]
}
df = pd.DataFrame(data=data)
df

    a    b     c
0  10  100  1000
1  20  200  2000
2  30  300  3000

In [3]:
a_series = df['a'] # df.a
a_series

0    10
1    20
2    30
Name: a, dtype: int64

In [4]:
df = pd.DataFrame(
    data= [
        [10, 20, 30],
        [100, 200, 300],
        [1000, 2000, 3000]
    ],
    index= ['index1', 'index2', 'index2'],
    columns= ['a', 'b', 'a']
)
df

           a     b     a
index1    10    20    30
index2   100   200   300
index2  1000  2000  3000

In [5]:
df.a

           a     a
index1    10    30
index2   100   300
index2  1000  3000

In [6]:
df.loc['index2']

           a     b     a
index2   100   200   300
index2  1000  2000  3000

In [7]:
df = pd.DataFrame(
    data= [
        [10, 20, 30],
        [100, 200, 300],
        [1000, 2000, 3000]
    ],
    index= ['index1', 'index2', 'index3'],
    columns= ['a', 'b', 'c']
)
df

           a     b     c
index1    10    20    30
index2   100   200   300
index3  1000  2000  3000

In [8]:
richest = pd.read_csv('../../data/TopRichestInWorld.csv', index_col='Name')
richest

,NetWorth,Age,Country/Territory,Source,Industry
Name,,,,,
Elon Musk,"$219,000,000,000",50,United States,"Tesla, SpaceX",NaN
Jeff Bezos,"$171,000,000,000",58,United States,Amazon,Technology
Bernard Arnault & family,"$158,000,000,000",73,France,LVMH,Fashion & Retail
Bill Gates,"$129,000,000,000",66,United States,Microsoft,Technology
Warren Buffett,"$118,000,000,000",91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...
Vladimir Potanin,"$17,300,000,000",61,Russia,metals,Metals & Mining
Harold Hamm & family,"$17,200,000,000",76,United States,oil & gas,Energy
Sun Piaoyang,"$17,100,000,000",63,China,pharmaceuticals,Healthcare
Luo Liguo & family,"$17,000,000,000",66,China,chemicals,Manufacturing
Peter Woo,"$17,000,000,000",75,Hong Kong,real estate,Real Estate

In [9]:
richest.shape, richest.size, richest.index, richest.columns

((101, 5),
 505,
 Index(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family', 'Bill Gates',
        'Warren Buffett', 'Larry Page', 'Sergey Brin', 'Larry Ellison',
        'Steve Ballmer', 'Mukesh Ambani',
        ...
        'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting', 'Stefan Persson',
        'Steve Cohen', 'Vladimir Potanin', 'Harold Hamm & family',
        'Sun Piaoyang', 'Luo Liguo & family', 'Peter Woo'],
       dtype='object', name='Name', length=101),
 Index(['NetWorth', 'Age', 'Country/Territory', 'Source', 'Industry'], dtype='object'))

In [10]:
richest.value_counts(),

(NetWorth          Age  Country/Territory  Source               Industry
 $106,000,000,000  77   United States      software             Technology               1
 $30,800,000,000   68   Mexico             mining               Metals & Mining          1
 $36,800,000,000   50   Germany            supermarkets         Fashion & Retail         1
 $36,200,000,000   57   Italy              Nutella, chocolates  Food & Beverage          1
 $34,800,000,000   93   Hong Kong          diversified          Diversified              1
                                                                                        ..
 $20,600,000,000   59   United States      semiconductors       Technology               1
 $20,300,000,000   55   China              batteries            Automotive               1
 $20,100,000,000   77   United States      discount brokerage   Finance & Investments    1
 $20,000,000,000   67   India              retail, investments  Fashion & Retail         1
 $91,400,000,000   66   United States      Microsoft            Technology               1
 Name: count, Length: 100, dtype: int64,)

In [11]:
richest.values,

(array([['$219,000,000,000', 50, 'United States', 'Tesla, SpaceX', nan],
        ['$171,000,000,000', 58, 'United States', 'Amazon', 'Technology'],
        ['$158,000,000,000', 73, 'France', 'LVMH', 'Fashion & Retail'],
        ['$129,000,000,000', 66, 'United States', 'Microsoft',
         'Technology'],
        ['$118,000,000,000', 91, 'United States', 'Berkshire Hathaway',
         'Finance & Investments'],
        ['$111,000,000,000', 49, 'United States', 'Google', 'Technology'],
        ['$107,000,000,000', 48, 'United States', 'Google', 'Technology'],
        ['$106,000,000,000', 77, 'United States', 'software',
         'Technology'],
        ['$91,400,000,000', 66, 'United States', 'Microsoft',
         'Technology'],
        ['$90,700,000,000', 64, 'India', 'diversified', 'Diversified'],
        ['$90,000,000,000', 59, 'India', 'infrastructure, commodities',
         'Diversified'],
        ['$82,000,000,000', 80, 'United States', 'Bloomberg LP',
         'Media & Entertainment'],
        ['$81,200,000,000', 82, 'Mexico', 'telecom', 'Telecom'],
        ['$74,800,000,000', 68, 'France', "L'Oréal", 'Fashion & Retail'],
        ['$67,300,000,000', 37, 'United States', 'Facebook', 'Technology'],
        ['$66,200,000,000', 73, 'United States', 'Walmart',
         'Fashion & Retail'],
        ['$65,700,000,000', 67, 'China', 'beverages, pharmaceuticals',
         'Food & Beverage'],
        ['$65,300,000,000', 72, 'United States', 'Walmart',
         'Fashion & Retail'],
        ['$65,000,000,000', 77, 'United States', 'Walmart',
         'Fashion & Retail'],
        ['$65,000,000,000', 44, 'Canada', 'cryptocurrency exchange',
         'Finance & Investments'],
        ['$60,000,000,000', 86, 'United States', 'Koch Industries',
         'Diversified'],
        ['$60,000,000,000', 59, 'United States', 'Koch Industries',
         'Diversified'],
        ['$59,600,000,000', 86, 'Spain', 'Zara', 'Fashion & Retail'],
        ['$55,100,000,000', 57, 'United States', 'Dell computers',
         'Technology'],
        ['$50,000,000,000', 38, 'China', 'TikTok',
         'Media & Entertainment'],
        ['$49,200,000,000', 64, 'Canada', 'media',
         'Media & Entertainment'],
        ['$47,300,000,000', 84, 'United States', 'Nike',
         'Fashion & Retail'],
        ['$47,100,000,000', 82, 'Germany', 'retail', 'Fashion & Retail'],
        ['$44,800,000,000', 53, 'Hong Kong', 'batteries', 'Automotive'],
        ['$43,600,000,000', 51, 'United States', 'Amazon', 'Technology'],
        ['$41,400,000,000', 52, 'France', 'shipping', 'Logistics'],
        ['$40,400,000,000', 85, 'France', 'luxury goods',
         'Fashion & Retail'],
        ['$37,300,000,000', 84, 'Germany', 'shipping', 'Logistics'],
        ['$37,200,000,000', 50, 'China', 'internet media', 'Technology'],
        ['$36,800,000,000', 50, 'Germany', 'supermarkets',
         'Fashion & Retail'],
        ['$36,200,000,000', 57, 'Italy', 'Nutella, chocolates',
         'Food & Beverage'],
        ['$34,800,000,000', 93, 'Hong Kong', 'diversified', 'Diversified'],
        ['$34,800,000,000', 75, 'United States', 'investments',
         'Finance & Investments'],
        ['$32,600,000,000', 94, 'Hong Kong', 'real estate', 'Real Estate'],
        ['$32,500,000,000', 64, 'United States', 'music, chemicals',
         'Diversified'],
        ['$31,700,000,000', 82, 'United States', 'candy, pet food',
         'Food & Beverage'],
        ['$31,700,000,000', 86, 'United States', 'candy, pet food',
         'Food & Beverage'],
        ['$31,200,000,000', 73, 'France', 'Chanel', 'Fashion & Retail'],
        ['$31,200,000,000', 71, 'France', 'Chanel', 'Fashion & Retail'],
        ['$30,800,000,000', 68, 'Mexico', 'mining', 'Metals & Mining'],
        ['$30,200,000,000', 68, 'Australia', 'mining', 'Metals & Mining'],
        ['$28,700,000,000', 76, 'India', 'software services',
         'Technology'],
        ['$28,600,000,000', 83, 'United States', 'hedge funds',
         'Finance & Investments'],
        ['$28,300,000,000', 79, 'China', 'home appliances',
         'Manufacturing'],
        ['$27,500,000,000', 76, 'United States', 'casinos',
         'Gambling & Casinos'],
        ['$27,400,000,000', 77, 'Austria', 'Red Bull', 'Food & Beverage'],
        ['$27,300,000,000', 86, 'Italy', 'eyeglasses', 'Fashion & Retail'],
        ['$27,200,000,000', 53, 'United States', 'hedge funds',
         'Finance & Investments'],
        ['$26,100,000,000', 73, 'Japan', 'fashion retail',
         'Fashion & Retail'],
        ['$25,200,000,000', 50, 'China', 'online games', 'Technology'],
        ['$24,300,000,000', 59, 'Germany', 'BMW, pharmaceuticals',
         'Automotive'],
        ['$24,300,000,000', 80, 'India', 'vaccines', 'Healthcare'],
        ['$24,300,000,000', 51, 'China', 'package delivery', 'Service'],
        ['$24,100,000,000', 56, 'China', 'pig breeding',
         'Food & Beverage'],
        ['$24,000,000,000', 30, 'United States',
         'cryptocurrency exchange', 'Finance & Investments'],
        ['$23,900,000,000', 76, 'Japan', 'sensors', 'Manufacturing'],
        ['$23,700,000,000', 58, 'China', 'automobiles', 'Automotive'],
        ['$23,500,000,000', 51, 'France', 'cheese', 'Food & Beverage'],
        ['$23,200,000,000', 81, 'Indonesia', 'banking, tobacco',
         'Finance & Investments'],
        ['$23,100,000,000', 89, 'United States', 'Estee Lauder',
         'Fashion & Retail'],
        ['$23,000,000,000', 40, 'Switzerland', 'fintech',
         'Finance & Investments'],
        ['$22,800,000,000', 79, 'Chile', 'mining', 'Metals & Mining'],
        ['$22,800,000,000', 57, 'China', 'e-commerce', 'Technology'],
        ['$22,300,000,000', 82, 'Indonesia', 'banking, tobacco',
         'Manufacturing'],
        ['$22,100,000,000', 66, 'United States', 'Google', 'Technology'],
        ['$22,000,000,000', 72, 'United States', 'hedge funds',
         'Finance & Investments'],
        ['$22,000,000,000', 60, 'United States', 'Quicken Loans',
         'Finance & Investments'],
        ['$21,800,000,000', 83, 'United States', 'hospitals',
         'Healthcare'],
        ['$21,300,000,000', 64, 'Japan', 'internet, telecom', 'Telecom'],
        ['$21,200,000,000', 60, 'United States', 'money management',
         'Finance & Investments'],
        ['$20,800,000,000', 91, 'United States', 'newspapers, TV network',
         'Media & Entertainment'],
        ['$20,700,000,000', 55, 'Germany', 'BMW', 'Automotive'],
        ['$20,600,000,000', 59, 'United States', 'semiconductors',
         'Technology'],
        ['$20,300,000,000', 55, 'China', 'batteries', 'Automotive'],
        ['$20,100,000,000', 77, 'United States', 'discount brokerage',
         'Finance & Investments'],
        ['$20,000,000,000', 67, 'India', 'retail, investments',
         'Fashion & Retail'],
        ['$19,600,000,000', 66, 'China', 'soy sauce', 'Food & Beverage'],
        ['$19,500,000,000', 56, 'China', 'batteries, automobiles',
         'Automotive'],
        ['$19,000,000,000', 86, 'Germany', 'fasteners', 'Manufacturing'],
        ['$18,700,000,000', 71, 'Germany', "Aldi, Trader Joe's",
         'Fashion & Retail'],
        ['$18,700,000,000', 40, 'China', 'real estate', 'Real Estate'],
        ['$18,400,000,000', 65, 'Russia', 'steel, transport',
         'Metals & Mining'],
        ['$18,200,000,000', 55, 'China', 'petrochemicals', 'Energy'],
        ['$17,900,000,000', 71, 'India', 'steel', 'Metals & Mining'],
        ['$17,800,000,000', 60, 'Australia', 'mining', 'Metals & Mining'],
        ['$17,700,000,000', 68, 'China', 'vaccines', 'Healthcare'],
        ['$17,700,000,000', 72, 'India', 'steel', 'Metals & Mining'],
        ['$17,700,000,000', 54, 'China', 'mining, copper products',
         'Metals & Mining'],
        ['$17,600,000,000', 71, 'Singapore', 'medical devices',
         'Healthcare'],
        ['$17,600,000,000', 74, 'Sweden', 'H&M', 'Fashion & Retail'],
        ['$17,400,000,000', 65, 'United States', 'hedge funds',
         'Finance & Investments'],
        ['$17,300,000,000', 61, 'Russia', 'metals', 'Metals & Mining'],
        ['$17,200,000,000', 76, 'United States', 'oil & gas', 'Energy'],
        ['$17,100,000,000', 63, 'China', 'pharmaceuticals', 'Healthcare'],
        ['$17,000,000,000', 66, 'China', 'chemicals', 'Manufacturing'],
        ['$17,000,000,000', 75, 'Hong Kong', 'real estate', 'Real Estate']],
       dtype=object),)

In [12]:
richest.axes, richest.dtypes

([Index(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family', 'Bill Gates',
         'Warren Buffett', 'Larry Page', 'Sergey Brin', 'Larry Ellison',
         'Steve Ballmer', 'Mukesh Ambani',
         ...
         'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting', 'Stefan Persson',
         'Steve Cohen', 'Vladimir Potanin', 'Harold Hamm & family',
         'Sun Piaoyang', 'Luo Liguo & family', 'Peter Woo'],
        dtype='object', name='Name', length=101),
  Index(['NetWorth', 'Age', 'Country/Territory', 'Source', 'Industry'], dtype='object')],
 NetWorth             object
 Age                   int64
 Country/Territory    object
 Source               object
 Industry             object
 dtype: object)

## Methods

DataFrame.sum : Return the sum over the requested axis.

DataFrame.min : Return the minimum over the requested axis.

DataFrame.max : Return the maximum over the requested axis.

DataFrame.idxmin : Return the index of the minimum over the requested axis.

DataFrame.idxmax : Return the index of the maximum over the requested axis.

In [13]:
df

           a     b     c
index1    10    20    30
index2   100   200   300
index3  1000  2000  3000

In [14]:
df.sum(), df.sum(axis='index') # default axis 0 referse to index sum means loop thruogh every index and sum

(a    1110
 b    2220
 c    3330
 dtype: int64,
 a    1110
 b    2220
 c    3330
 dtype: int64)

In [15]:
df.sum(axis=1), df.sum(axis='columns')

(index1      60
 index2     600
 index3    6000
 dtype: int64,
 index1      60
 index2     600
 index3    6000
 dtype: int64)

In [16]:
richest.sum(numeric_only=True) # to avoid error if it is otherthan int or float

Age    6779
dtype: int64

In [17]:
df.mean(), df.std(), df.var()

(a     370.0
 b     740.0
 c    1110.0
 dtype: float64,
 a     547.448628
 b    1094.897255
 c    1642.345883
 dtype: float64,
 a     299700.0
 b    1198800.0
 c    2697300.0
 dtype: float64)

## describe and info

In [18]:
cols = ['Series_Title', 'IMDB_Rating', 'No_of_Votes', 'Gross', 'Released_Year', 'Certificate', 'Runtime', 'Genre']
movies = pd.read_csv('../../data/imdb_top_1000.csv', usecols=cols)
movies

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,2303232,"534,858,444"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,1129952,"57,300,000"
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,689845,"4,360,000"
...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,166544,NaN
996,Giant,1956,G,201 min,"Drama, Western",7.6,34075,NaN
997,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,43374,"30,500,000"
998,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,26471,NaN
999,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,51853,NaN

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   No_of_Votes    1000 non-null   int64
 7   Gross          831 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [20]:
movies.describe()

       IMDB_Rating   No_of_Votes
count  1000.000000  1.000000e+03
mean      7.949300  2.736929e+05
std       0.275491  3.273727e+05
min       7.600000  2.508800e+04
25%       7.700000  5.552625e+04
50%       7.900000  1.385485e+05
75%       8.100000  3.741612e+05
max       9.300000  2.343110e+06

In [21]:
movies['Gross']=movies['Gross'].str.replace(',', '')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   No_of_Votes    1000 non-null   int64
 7   Gross          831 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [22]:
movies['Gross'].fillna(0, inplace=True)
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   No_of_Votes    1000 non-null   int64
 7   Gross          1000 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

C:\Users\bvkir\AppData\Local\Temp\ipykernel_32680\589526107.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movies['Gross'].fillna(0, inplace=True)

In [23]:
movies['Gross']= movies['Gross'].astype(int)
movies

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,2343110,28341469
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,1620367,134966411
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,2303232,534858444
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,1129952,57300000
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,689845,4360000
...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,166544,0
996,Giant,1956,G,201 min,"Drama, Western",7.6,34075,0
997,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,43374,30500000
998,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,26471,0
999,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,51853,0

In [24]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   object
 1   Released_Year  1000 non-null   object
 2   Certificate    899 non-null    object
 3   Runtime        1000 non-null   object
 4   Genre          1000 non-null   object
 5   IMDB_Rating    1000 non-null   float64
 6   No_of_Votes    1000 non-null   int64
 7   Gross          1000 non-null   int32
dtypes: float64(1), int32(1), int64(1), object(5)
memory usage: 58.7+ KB

In [25]:
movies.describe().round()

       IMDB_Rating  No_of_Votes        Gross
count       1000.0       1000.0       1000.0
mean           8.0     273693.0   56536878.0
std            0.0     327373.0  103238179.0
min            8.0      25088.0          0.0
25%            8.0      55526.0     445710.0
50%            8.0     138548.0   10702752.0
75%            8.0     374161.0   61539891.0
max            9.0    2343110.0  936662225.0

In [26]:
movies.count(), movies.value_counts()

(Series_Title     1000
 Released_Year    1000
 Certificate       899
 Runtime          1000
 Genre            1000
 IMDB_Rating      1000
 No_of_Votes      1000
 Gross            1000
 dtype: int64,
 Series_Title                              Released_Year  Certificate  Runtime  Genre                         IMDB_Rating  No_of_Votes  Gross
 (500) Days of Summer                      2009           UA           95 min   Comedy, Drama, Romance        7.7          472242       32391374     1
 The Boondock Saints                       1999           R            108 min  Action, Crime, Thriller       7.8          227143       25812        1
 Searching                                 2018           U/A          102 min  Drama, Mystery, Thriller      7.6          140840       26020957     1
 Secrets & Lies                            1996           U            136 min  Comedy, Drama                 8.0          37564        13417292     1
 Sen to Chihiro no kamikakushi             2001           U            125 min  Animation, Adventure, Family  8.6          651376       10055859     1
                                                                                                                                                    ..
 Harry Potter and the Half-Blood Prince    2009           UA           153 min  Action, Adventure, Family     7.6          474827       301959197    1
 Harry Potter and the Prisoner of Azkaban  2004           U            142 min  Adventure, Family, Fantasy    7.9          552493       249358727    1
 Harry Potter and the Sorcerer's Stone     2001           U            152 min  Adventure, Family, Fantasy    7.6          658185       317575550    1
 Harvey                                    1950           Approved     104 min  Comedy, Drama, Fantasy        7.9          52573        0            1
 Ôkami kodomo no Ame to Yuki               2012           U            117 min  Animation, Drama, Fantasy     8.1          38803        0            1
 Name: count, Length: 899, dtype: int64)

In [27]:
movies.sort_values(by='No_of_Votes', ignore_index=True)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,Ba wang bie ji,1993,R,171 min,"Drama, Music, Romance",8.1,25088,5216888
1,God's Own Country,2017,NaN,104 min,"Drama, Romance",7.7,25198,335609
2,La planète sauvage,1973,U,72 min,"Animation, Sci-Fi",7.8,25229,193817
3,Scarface: The Shame of the Nation,1932,PG,93 min,"Action, Crime, Drama",7.8,25312,0
4,Raazi,2018,UA,138 min,"Action, Drama, Thriller",7.8,25344,0
...,...,...,...,...,...,...,...,...
995,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,1826188,107928762
996,Fight Club,1999,A,139 min,Drama,8.8,1854740,37030102
997,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,2067042,292576195
998,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,2303232,534858444
999,The Shawshank Redemption,1994,A,142 min,Drama,9.3,2343110,28341469

In [28]:
movies.sort_values(by='No_of_Votes',)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
264,Ba wang bie ji,1993,R,171 min,"Drama, Music, Romance",8.1,25088,5216888
721,God's Own Country,2017,NaN,104 min,"Drama, Romance",7.7,25198,335609
694,La planète sauvage,1973,U,72 min,"Animation, Sci-Fi",7.8,25229,193817
718,Scarface: The Shame of the Nation,1932,PG,93 min,"Action, Crime, Drama",7.8,25312,0
570,Raazi,2018,UA,138 min,"Action, Drama, Thriller",7.8,25344,0
...,...,...,...,...,...,...,...,...
6,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,1826188,107928762
9,Fight Club,1999,A,139 min,Drama,8.8,1854740,37030102
8,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,2067042,292576195
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,2303232,534858444
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,2343110,28341469

In [29]:
movies.quantile(q=[0.2, 0.5, 1.0],numeric_only=True, interpolation='lower')

     IMDB_Rating  No_of_Votes      Gross
0.2          7.7        48334      83861
0.5          7.9       138356   10680275
1.0          9.3      2343110  936662225

In [30]:
movies.sort_values(by='No_of_Votes',).iloc[int(len(movies)*0.2-1)]['No_of_Votes']

48334

In [31]:
movies.sort_values(by='Gross',).iloc[int(len(movies)*0.2-1)]['Gross']

83861

In [32]:
movies.describe(include='all')

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
count,1000,1000,899,1000,1000,1000.000000,1.000000e+03,1.000000e+03
unique,999,100,16,140,202,NaN,NaN,NaN
top,Drishyam,2014,U,100 min,Drama,NaN,NaN,NaN
freq,2,32,234,23,85,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,7.949300,2.736929e+05,5.653688e+07
std,NaN,NaN,NaN,NaN,NaN,0.275491,3.273727e+05,1.032382e+08
min,NaN,NaN,NaN,NaN,NaN,7.600000,2.508800e+04,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,7.700000,5.552625e+04,4.457098e+05
50%,NaN,NaN,NaN,NaN,NaN,7.900000,1.385485e+05,1.070275e+07
75%,NaN,NaN,NaN,NaN,NaN,8.100000,3.741612e+05,6.153989e+07
max,NaN,NaN,NaN,NaN,NaN,9.300000,2.343110e+06,9.366622e+08

In [33]:
movies.describe(include=['O'])

       Series_Title Released_Year Certificate  Runtime  Genre
count          1000          1000         899     1000   1000
unique          999           100          16      140    202
top        Drishyam          2014           U  100 min  Drama
freq              2            32         234       23     85

## nlargest and nsmallest

In [34]:
movies.sort_values(by='No_of_Votes', ascending=False).head(10)

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,2343110,28341469
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,2303232,534858444
8,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,2067042,292576195
9,Fight Club,1999,A,139 min,Drama,8.8,1854740,37030102
6,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,1826188,107928762
11,Forrest Gump,1994,UA,142 min,"Drama, Romance",8.8,1809221,330252182
14,The Matrix,1999,A,136 min,"Action, Sci-Fi",8.7,1676426,171479930
10,The Lord of the Rings: The Fellowship of the Ring,2001,U,178 min,"Action, Adventure, Drama",8.8,1661481,315544750
5,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,1642758,377845905
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,1620367,134966411

In [35]:
movies.nlargest(10, ['IMDB_Rating','No_of_Votes'], keep="all") # if first column is duplicated it will take second

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,2343110,28341469
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,1620367,134966411
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,2303232,534858444
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,1129952,57300000
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,689845,4360000
6,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,1826188,107928762
5,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,1642758,377845905
7,Schindler's List,1993,A,195 min,"Biography, Drama, History",8.9,1213505,96898818
8,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,2067042,292576195
9,Fight Club,1999,A,139 min,Drama,8.8,1854740,37030102

In [36]:
# same for smallest
movies.nsmallest(10, ['Gross','No_of_Votes'], keep="last") # Gross

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
718,Scarface: The Shame of the Nation,1932,PG,93 min,"Action, Crime, Drama",7.8,25312,0
570,Raazi,2018,UA,138 min,"Action, Drama, Thriller",7.8,25344,0
814,Do lok tin si,1995,UA,99 min,"Comedy, Crime, Drama",7.7,26429,0
863,Cape Fear,1962,Passed,106 min,"Drama, Thriller",7.7,26457,0
869,The Ladykillers,1955,NaN,91 min,"Comedy, Crime",7.7,26464,0
998,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,26471,0
641,Gongdong gyeongbi guyeok JSA,2000,NaN,110 min,"Action, Drama, Thriller",7.8,26518,0
550,L'avventura,1960,U,144 min,"Drama, Mystery",7.9,26542,0
460,The Thin Man,1934,TV-PG,91 min,"Comedy, Crime, Mystery",8.0,26642,0
459,La règle du jeu,1939,NaN,110 min,"Comedy, Drama",8.0,26725,0

## set_index and reset_index

In [37]:
movies.set_index(['Released_Year', 'Certificate'])

,,Series_Title,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
Released_Year,Certificate,,,,,,
1994,A,The Shawshank Redemption,142 min,Drama,9.3,2343110,28341469
1972,A,The Godfather,175 min,"Crime, Drama",9.2,1620367,134966411
2008,UA,The Dark Knight,152 min,"Action, Crime, Drama",9.0,2303232,534858444
1974,A,The Godfather: Part II,202 min,"Crime, Drama",9.0,1129952,57300000
1957,U,12 Angry Men,96 min,"Crime, Drama",9.0,689845,4360000
...,...,...,...,...,...,...,...
1961,A,Breakfast at Tiffany's,115 min,"Comedy, Drama, Romance",7.6,166544,0
1956,G,Giant,201 min,"Drama, Western",7.6,34075,0
1953,Passed,From Here to Eternity,118 min,"Drama, Romance, War",7.6,43374,30500000
1944,NaN,Lifeboat,97 min,"Drama, War",7.6,26471,0
1935,NaN,The 39 Steps,86 min,"Crime, Mystery, Thriller",7.6,51853,0

In [38]:
movies.set_index(['Released_Year', 'Certificate']).loc['A']

KeyError: 'A'

In [40]:
movies.set_index(['Released_Year', 'Certificate']).loc['1932']

,Series_Title,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
Certificate,,,,,,
NaN,Freaks,64 min,"Drama, Horror",7.9,42117,0
PG,Scarface: The Shame of the Nation,93 min,"Action, Crime, Drama",7.8,25312,0

In [41]:
movies.set_index(['Certificate'], drop=True, inplace= True)

In [42]:
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
Certificate,,,,,,,
A,The Shawshank Redemption,1994,142 min,Drama,9.3,2343110,28341469
A,The Godfather,1972,175 min,"Crime, Drama",9.2,1620367,134966411
UA,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,2303232,534858444
A,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,1129952,57300000
U,12 Angry Men,1957,96 min,"Crime, Drama",9.0,689845,4360000
...,...,...,...,...,...,...,...
A,Breakfast at Tiffany's,1961,115 min,"Comedy, Drama, Romance",7.6,166544,0
G,Giant,1956,201 min,"Drama, Western",7.6,34075,0
Passed,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,43374,30500000
NaN,Lifeboat,1944,97 min,"Drama, War",7.6,26471,0
NaN,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,51853,0

In [43]:
movies.set_index(['Certificate'], drop=True, inplace= True)

KeyError: "None of ['Certificate'] are in the columns"

In [44]:
movies.reset_index()

,Certificate,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,A,The Shawshank Redemption,1994,142 min,Drama,9.3,2343110,28341469
1,A,The Godfather,1972,175 min,"Crime, Drama",9.2,1620367,134966411
2,UA,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,2303232,534858444
3,A,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,1129952,57300000
4,U,12 Angry Men,1957,96 min,"Crime, Drama",9.0,689845,4360000
...,...,...,...,...,...,...,...,...
995,A,Breakfast at Tiffany's,1961,115 min,"Comedy, Drama, Romance",7.6,166544,0
996,G,Giant,1956,201 min,"Drama, Western",7.6,34075,0
997,Passed,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,43374,30500000
998,NaN,Lifeboat,1944,97 min,"Drama, War",7.6,26471,0
999,NaN,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,51853,0

In [46]:
movies.reset_index(drop=True) # it will drop the column

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,No_of_Votes,Gross
0,The Shawshank Redemption,1994,142 min,Drama,9.3,2343110,28341469
1,The Godfather,1972,175 min,"Crime, Drama",9.2,1620367,134966411
2,The Dark Knight,2008,152 min,"Action, Crime, Drama",9.0,2303232,534858444
3,The Godfather: Part II,1974,202 min,"Crime, Drama",9.0,1129952,57300000
4,12 Angry Men,1957,96 min,"Crime, Drama",9.0,689845,4360000
...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115 min,"Comedy, Drama, Romance",7.6,166544,0
996,Giant,1956,201 min,"Drama, Western",7.6,34075,0
997,From Here to Eternity,1953,118 min,"Drama, Romance, War",7.6,43374,30500000
998,Lifeboat,1944,97 min,"Drama, War",7.6,26471,0
999,The 39 Steps,1935,86 min,"Crime, Mystery, Thriller",7.6,51853,0

## drop

In [47]:
movies = pd.read_csv('../../data/imdb_top_1000.csv')
movies.head(5)

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [48]:
movies.set_index(['Overview'], inplace=True)
movies

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
Overview,,,,,,,,,,,,,,,
"Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.",https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.",https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"A young New York socialite becomes interested in a young man who has moved into her apartment building, but her past threatens to get in the way.",https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
Sprawling epic covering the life of a Texas cattle rancher and his family and associates.,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
"In Hawaii in 1941, a private is cruelly punished for not boxing on his unit's team, while his captain's wife and second-in-command are falling in love.",https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
Several survivors of a torpedoed merchant ship in World War II find themselves in the same lifeboat with one of the crew members of the U-boat that sank their ship.,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
"A man in London tries to help a counter-espionage Agent. But when the Agent is killed, and the man stands accused, he must go on the run to save himself and stop a spy ring which is trying to steal top secret information.",https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [49]:
print("Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross".split(','))

['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director', 'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross']

In [50]:
movies.drop(columns=['Poster_Link',  'Director', 'Star1', 'Star2', 'Star3', 'Star4'], inplace=True)

In [51]:
movies.drop(index=[
    "When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice."
]) # removed The Dark Knight

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross
Overview,,,,,,,,,
"Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.",The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,2343110,"28,341,469"
An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,1620367,"134,966,411"
"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.",The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,1129952,"57,300,000"
A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,689845,"4,360,000"
Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,94.0,1642758,"377,845,905"
...,...,...,...,...,...,...,...,...,...
"A young New York socialite becomes interested in a young man who has moved into her apartment building, but her past threatens to get in the way.",Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,76.0,166544,NaN
Sprawling epic covering the life of a Texas cattle rancher and his family and associates.,Giant,1956,G,201 min,"Drama, Western",7.6,84.0,34075,NaN
"In Hawaii in 1941, a private is cruelly punished for not boxing on his unit's team, while his captain's wife and second-in-command are falling in love.",From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,85.0,43374,"30,500,000"
Several survivors of a torpedoed merchant ship in World War II find themselves in the same lifeboat with one of the crew members of the U-boat that sank their ship.,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,78.0,26471,NaN
"A man in London tries to help a counter-espionage Agent. But when the Agent is killed, and the man stands accused, he must go on the run to save himself and stop a spy ring which is trying to steal top secret information.",The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,93.0,51853,NaN

In [52]:
movies.drop(labels=[
    'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.',
    "An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son."
], axis=0) # it has removed The Shawshank Redemption and The Godfather

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross
Overview,,,,,,,,,
"When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.",The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,2303232,"534,858,444"
"The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.",The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,1129952,"57,300,000"
A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,689845,"4,360,000"
Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.,The Lord of the Rings: The Return of the King,2003,U,201 min,"Action, Adventure, Drama",8.9,94.0,1642758,"377,845,905"
"The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.",Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,94.0,1826188,"107,928,762"
...,...,...,...,...,...,...,...,...,...
"A young New York socialite becomes interested in a young man who has moved into her apartment building, but her past threatens to get in the way.",Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,76.0,166544,NaN
Sprawling epic covering the life of a Texas cattle rancher and his family and associates.,Giant,1956,G,201 min,"Drama, Western",7.6,84.0,34075,NaN
"In Hawaii in 1941, a private is cruelly punished for not boxing on his unit's team, while his captain's wife and second-in-command are falling in love.",From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,85.0,43374,"30,500,000"
Several survivors of a torpedoed merchant ship in World War II find themselves in the same lifeboat with one of the crew members of the U-boat that sank their ship.,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,78.0,26471,NaN
"A man in London tries to help a counter-espionage Agent. But when the Agent is killed, and the man stands accused, he must go on the run to save himself and stop a spy ring which is trying to steal top secret information.",The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,93.0,51853,NaN

In [53]:
movies.reset_index(inplace=True)
movies.head()

,Overview,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross
0,Two imprisoned men bond over a number of years...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,2343110,"28,341,469"
1,An organized crime dynasty's aging patriarch t...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,1620367,"134,966,411"
2,When the menace known as the Joker wreaks havo...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,2303232,"534,858,444"
3,The early life and career of Vito Corleone in ...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,1129952,"57,300,000"
4,A jury holdout attempts to prevent a miscarria...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,689845,"4,360,000"

In [54]:
movies.drop(labels=['Overview'], axis=1, inplace=True)
movies.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,2343110,"28,341,469"
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,1620367,"134,966,411"
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,2303232,"534,858,444"
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,1129952,"57,300,000"
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,689845,"4,360,000"

## adding the columns

In [55]:
[0]*2

[0, 0]

In [56]:
movies['Watched'] = False
movies.head()

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross,Watched
0,The Shawshank Redemption,1994,A,142 min,Drama,9.3,80.0,2343110,"28,341,469",False
1,The Godfather,1972,A,175 min,"Crime, Drama",9.2,100.0,1620367,"134,966,411",False
2,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,84.0,2303232,"534,858,444",False
3,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,90.0,1129952,"57,300,000",False
4,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,96.0,689845,"4,360,000",False

In [57]:
movies.insert(loc=2, column='My_Rating', value=None)
movies.head()

,Series_Title,Released_Year,My_Rating,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross,Watched
0,The Shawshank Redemption,1994,None,A,142 min,Drama,9.3,80.0,2343110,"28,341,469",False
1,The Godfather,1972,None,A,175 min,"Crime, Drama",9.2,100.0,1620367,"134,966,411",False
2,The Dark Knight,2008,None,UA,152 min,"Action, Crime, Drama",9.0,84.0,2303232,"534,858,444",False
3,The Godfather: Part II,1974,None,A,202 min,"Crime, Drama",9.0,90.0,1129952,"57,300,000",False
4,12 Angry Men,1957,None,U,96 min,"Crime, Drama",9.0,96.0,689845,"4,360,000",False

In [58]:
movies.insert(loc=len(movies.columns), column='My_Rating1', value=None)
movies.head()

,Series_Title,Released_Year,My_Rating,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross,Watched,My_Rating1
0,The Shawshank Redemption,1994,None,A,142 min,Drama,9.3,80.0,2343110,"28,341,469",False,None
1,The Godfather,1972,None,A,175 min,"Crime, Drama",9.2,100.0,1620367,"134,966,411",False,None
2,The Dark Knight,2008,None,UA,152 min,"Action, Crime, Drama",9.0,84.0,2303232,"534,858,444",False,None
3,The Godfather: Part II,1974,None,A,202 min,"Crime, Drama",9.0,90.0,1129952,"57,300,000",False,None
4,12 Angry Men,1957,None,U,96 min,"Crime, Drama",9.0,96.0,689845,"4,360,000",False,None

In [59]:
movies.pop('My_Rating1')

0      None
1      None
2      None
3      None
4      None
       ...
995    None
996    None
997    None
998    None
999    None
Name: My_Rating1, Length: 1000, dtype: object

In [60]:
movies.head()

,Series_Title,Released_Year,My_Rating,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,No_of_Votes,Gross,Watched
0,The Shawshank Redemption,1994,None,A,142 min,Drama,9.3,80.0,2343110,"28,341,469",False
1,The Godfather,1972,None,A,175 min,"Crime, Drama",9.2,100.0,1620367,"134,966,411",False
2,The Dark Knight,2008,None,UA,152 min,"Action, Crime, Drama",9.0,84.0,2303232,"534,858,444",False
3,The Godfather: Part II,1974,None,A,202 min,"Crime, Drama",9.0,90.0,1129952,"57,300,000",False
4,12 Angry Men,1957,None,U,96 min,"Crime, Drama",9.0,96.0,689845,"4,360,000",False

## dropna()

In [68]:
import numpy as np

data = {
    'a': [1, np.nan, 3, 4, np.nan, 6, 7, np.nan, 9, 10,
          11, np.nan, 13, 14, np.nan, 16, 17, np.nan, np.nan, 20],
    'b': [1, 2, np.nan, 4, 5, np.nan, 7, 8, np.nan, 10,
          np.nan, 12, 13, np.nan, 15, 16, np.nan, 18, np.nan, 20],
    'c': [1, 2, 3, np.nan, 5, 6, np.nan, 8, 9, np.nan,
          11, 12, np.nan, 14, 15, np.nan, 17, 18, np.nan, 20],
    'd': [1, 2, 3, 4, np.nan, 6, 7, np.nan, 9, 10,
          np.nan, 12, 13, np.nan, 15, 16, 17, np.nan, np.nan, 20],
    'e': [1, 2, 3, 4, 5, np.nan, 7, 8, 9, np.nan,
          11, np.nan, 13, 14, np.nan, 16, 17, 18, np.nan, 20]
}

df = pd.DataFrame(data)

df.to_csv('../../data/sample_with_nan.csv', sep=';', index_label='column :0')

In [69]:
df = pd.read_csv('../../data/sample_with_nan.csv', sep=';', index_col='column :0')
df

              a     b     c     d     e
column :0
0           1.0   1.0   1.0   1.0   1.0
1           NaN   2.0   2.0   2.0   2.0
2           3.0   NaN   3.0   3.0   3.0
3           4.0   4.0   NaN   4.0   4.0
4           NaN   5.0   5.0   NaN   5.0
5           6.0   NaN   6.0   6.0   NaN
6           7.0   7.0   NaN   7.0   7.0
7           NaN   8.0   8.0   NaN   8.0
8           9.0   NaN   9.0   9.0   9.0
9          10.0  10.0   NaN  10.0   NaN
10         11.0   NaN  11.0   NaN  11.0
11          NaN  12.0  12.0  12.0   NaN
12         13.0  13.0   NaN  13.0  13.0
13         14.0   NaN  14.0   NaN  14.0
14          NaN  15.0  15.0  15.0   NaN
15         16.0  16.0   NaN  16.0  16.0
16         17.0   NaN  17.0  17.0  17.0
17          NaN  18.0  18.0   NaN  18.0
18          NaN   NaN   NaN   NaN   NaN
19         20.0  20.0  20.0  20.0  20.0

In [70]:
df.dropna()

              a     b     c     d     e
column :0
0           1.0   1.0   1.0   1.0   1.0
19         20.0  20.0  20.0  20.0  20.0

In [71]:
df.dropna(axis=0) # removes all the rows that contains na

              a     b     c     d     e
column :0
0           1.0   1.0   1.0   1.0   1.0
19         20.0  20.0  20.0  20.0  20.0

In [72]:
df.dropna(axis=1) # removes all the columns that contains na

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
df.dropna(axis=0, how='all') # if all the values are nan removed 19th row by default how will be any

              a     b     c     d     e
column :0
0           1.0   1.0   1.0   1.0   1.0
1           NaN   2.0   2.0   2.0   2.0
2           3.0   NaN   3.0   3.0   3.0
3           4.0   4.0   NaN   4.0   4.0
4           NaN   5.0   5.0   NaN   5.0
5           6.0   NaN   6.0   6.0   NaN
6           7.0   7.0   NaN   7.0   7.0
7           NaN   8.0   8.0   NaN   8.0
8           9.0   NaN   9.0   9.0   9.0
9          10.0  10.0   NaN  10.0   NaN
10         11.0   NaN  11.0   NaN  11.0
11          NaN  12.0  12.0  12.0   NaN
12         13.0  13.0   NaN  13.0  13.0
13         14.0   NaN  14.0   NaN  14.0
14          NaN  15.0  15.0  15.0   NaN
15         16.0  16.0   NaN  16.0  16.0
16         17.0   NaN  17.0  17.0  17.0
17          NaN  18.0  18.0   NaN  18.0
19         20.0  20.0  20.0  20.0  20.0

In [ ]:
df.dropna(axis=0, subset='a') # it will remove rows where a is na

              a     b     c     d     e
column :0
0           1.0   1.0   1.0   1.0   1.0
2           3.0   NaN   3.0   3.0   3.0
3           4.0   4.0   NaN   4.0   4.0
5           6.0   NaN   6.0   6.0   NaN
6           7.0   7.0   NaN   7.0   7.0
8           9.0   NaN   9.0   9.0   9.0
9          10.0  10.0   NaN  10.0   NaN
10         11.0   NaN  11.0   NaN  11.0
12         13.0  13.0   NaN  13.0  13.0
13         14.0   NaN  14.0   NaN  14.0
15         16.0  16.0   NaN  16.0  16.0
16         17.0   NaN  17.0  17.0  17.0
19         20.0  20.0  20.0  20.0  20.0