In [1]:
import pandas as pd

In [11]:
series = pd.Series([1,2,3,4,5,6,7,8,9], index = ['a','b','c','d','e','f','g','h','i'])
print(series)
print(series.loc['a'])
print(series.iloc[2])

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64
1
3

In [2]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [ ]:
df["Age"] # series

0    22
1    35
2    58
Name: Age, dtype: int64