In [1]:
import pandas as pd
import numpy as np

# Series

In [2]:
# using dict
data = {
    'a':1,
    'b':2,
    'c':3
}
series = pd.Series(data)
print(series)

a    1
b    2
c    3
dtype: int64

In [3]:
# if we give index if it is not equal to key it will give NaN
series = pd.Series(data, index = ['a', 'b', 'c'])
print(series)
print("==="*20)
series = pd.Series(data, index = ['x', 'y', 'z'])
print(series)

a    1
b    2
c    3
dtype: int64
============================================================
x   NaN
y   NaN
z   NaN
dtype: float64

In [4]:
np.random.randint(0,10,5).tolist()

[7, 0, 6, 1, 9]

In [5]:
# with list
series = pd.Series(np.random.randint(0,10,5), name='numpy series')
series1 = pd.Series(np.random.randint(0,10,5).tolist())
series, series1

(0    4
 1    0
 2    9
 3    9
 4    0
 Name: numpy series, dtype: int32,
 0    1
 1    9
 2    7
 3    0
 4    3
 dtype: int64)

## attributes

In [6]:
dir(series)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [7]:
series.dtype, series.size, series.index, series.hasnans, series.shape

(dtype('int32'), 5, RangeIndex(start=0, stop=5, step=1), False, (5,))

In [8]:
for i in series.index:
    print(i)

0
1
2
3
4

In [9]:
series = pd.Series(np.random.randint(0,100,100), name='numpy series')
series1 = pd.Series(np.random.randint(0,10,5), name='alpha index', index= ['a','b','c','d','e'])

In [10]:
series.min(), series.max(), series.sum(), series.mean(), series.std(), series.var(), series.values

(0,
 99,
 4894,
 48.94,
 27.348044821441178,
 747.9155555555556,
 array([62, 22, 79, 47, 26, 82, 67, 87, 35, 22, 54, 66, 48, 78,  4, 36, 26,
        65,  3, 60, 29, 32, 99, 36,  6, 73, 46, 18, 74, 15,  5, 60,  5, 98,
        60, 24, 83,  3, 88, 72, 31, 50, 43, 48, 73, 42, 33, 65, 69, 28, 95,
         6, 38, 77, 45, 62, 81, 69, 77, 36, 48, 55,  5, 55, 61, 36, 93, 38,
        18, 28, 47, 91, 16, 91, 38, 31, 40,  0, 24, 37, 52, 42, 16, 92, 90,
        90,  2, 29, 62, 11, 89, 30, 24, 37, 65, 52, 91, 56, 76, 73]))

In [11]:
series1.values, series1.idxmax(), series1.idxmin()

(array([3, 6, 3, 9, 8]), 'd', 'a')

In [12]:
series.isnull(), series.round(decimals=2) # round for float numbers

(0     False
 1     False
 2     False
 3     False
 4     False
       ...
 95    False
 96    False
 97    False
 98    False
 99    False
 Name: numpy series, Length: 100, dtype: bool,
 0     62
 1     22
 2     79
 3     47
 4     26
       ..
 95    52
 96    91
 97    56
 98    76
 99    73
 Name: numpy series, Length: 100, dtype: int32)

## read_csv with use cols

In [13]:
networth = pd.read_csv('../../data/TopRichestInWorld.csv', usecols=['Name', 'NetWorth'], header=0, index_col='Name')
networth

                                  NetWorth
Name
Elon Musk                 $219,000,000,000
Jeff Bezos                $171,000,000,000
Bernard Arnault & family  $158,000,000,000
Bill Gates                $129,000,000,000
Warren Buffett            $118,000,000,000
...                                    ...
Vladimir Potanin           $17,300,000,000
Harold Hamm & family       $17,200,000,000
Sun Piaoyang               $17,100,000,000
Luo Liguo & family         $17,000,000,000
Peter Woo                  $17,000,000,000

[101 rows x 1 columns]

In [14]:
networth_series = networth.squeeze()
networth_series

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
                                  ...
Vladimir Potanin             $17,300,000,000
Harold Hamm & family         $17,200,000,000
Sun Piaoyang                 $17,100,000,000
Luo Liguo & family           $17,000,000,000
Peter Woo                    $17,000,000,000
Name: NetWorth, Length: 101, dtype: object

In [15]:
networth_series.max(), networth_series.idxmax()

('$91,400,000,000', 'Steve Ballmer')

In [16]:
name_series=networth_series.str.replace('$', '').str.replace(',','').astype(float)
name_series

Name
Elon Musk                   2.190000e+11
Jeff Bezos                  1.710000e+11
Bernard Arnault & family    1.580000e+11
Bill Gates                  1.290000e+11
Warren Buffett              1.180000e+11
                                ...
Vladimir Potanin            1.730000e+10
Harold Hamm & family        1.720000e+10
Sun Piaoyang                1.710000e+10
Luo Liguo & family          1.700000e+10
Peter Woo                   1.700000e+10
Name: NetWorth, Length: 101, dtype: float64

In [17]:
networth_series.max(), networth_series.idxmax()

('$91,400,000,000', 'Steve Ballmer')

In [18]:
networth_series.to_csv('test.csv', index=False)

## sort_values and sort_index

In [19]:
networth_series.sort_values(axis=0)

Name
Larry Ellison                $106,000,000,000
Sergey Brin                  $107,000,000,000
Larry Page                   $111,000,000,000
Warren Buffett               $118,000,000,000
Bill Gates                   $129,000,000,000
                                   ...
Carlos Slim Helu & family     $81,200,000,000
Michael Bloomberg             $82,000,000,000
Gautam Adani & family         $90,000,000,000
Mukesh Ambani                 $90,700,000,000
Steve Ballmer                 $91,400,000,000
Name: NetWorth, Length: 101, dtype: object

In [20]:
networth_series.sort_values(axis=0, ignore_index=True)

0      $106,000,000,000
1      $107,000,000,000
2      $111,000,000,000
3      $118,000,000,000
4      $129,000,000,000
             ...
96      $81,200,000,000
97      $82,000,000,000
98      $90,000,000,000
99      $90,700,000,000
100     $91,400,000,000
Name: NetWorth, Length: 101, dtype: object

In [21]:
networth_series.sort_index()

Name
Abigail Johnson          $21,200,000,000
Alain Wertheimer         $31,200,000,000
Alice Walton             $65,300,000,000
Amancio Ortega           $59,600,000,000
Andrew Forrest           $17,800,000,000
                              ...
Warren Buffett          $118,000,000,000
William Lei Ding         $25,200,000,000
Yang Huiyan & family     $18,700,000,000
Zhang Yiming             $50,000,000,000
Zhong Shanshan           $65,700,000,000
Name: NetWorth, Length: 101, dtype: object

In [22]:
networth_series.sort_index(ignore_index=True)

0       $21,200,000,000
1       $31,200,000,000
2       $65,300,000,000
3       $59,600,000,000
4       $17,800,000,000
             ...
96     $118,000,000,000
97      $25,200,000,000
98      $18,700,000,000
99      $50,000,000,000
100     $65,700,000,000
Name: NetWorth, Length: 101, dtype: object

## value_counts

In [23]:
industry = pd.read_csv('../../data/TopRichestInWorld.csv', usecols=['Name', 'Industry'], index_col='Name')
industry

                                       Industry
Name
Elon Musk                                   NaN
Jeff Bezos                           Technology
Bernard Arnault & family       Fashion & Retail
Bill Gates                           Technology
Warren Buffett            Finance & Investments
...                                         ...
Vladimir Potanin                Metals & Mining
Harold Hamm & family                     Energy
Sun Piaoyang                         Healthcare
Luo Liguo & family                Manufacturing
Peter Woo                           Real Estate

[101 rows x 1 columns]

In [24]:
industry_series = industry.squeeze()
industry_series

Name
Elon Musk                                     NaN
Jeff Bezos                             Technology
Bernard Arnault & family         Fashion & Retail
Bill Gates                             Technology
Warren Buffett              Finance & Investments
                                    ...
Vladimir Potanin                  Metals & Mining
Harold Hamm & family                       Energy
Sun Piaoyang                           Healthcare
Luo Liguo & family                  Manufacturing
Peter Woo                             Real Estate
Name: Industry, Length: 101, dtype: object

In [25]:
print(industry_series.value_counts(normalize=True))
total = 0
for i in industry_series.value_counts(normalize=True):
    total +=i
print('\ntotal:',total)

Industry
Fashion & Retail         0.18
Technology               0.15
Finance & Investments    0.13
Metals & Mining          0.09
Food & Beverage          0.08
Diversified              0.06
Automotive               0.06
Manufacturing            0.05
Healthcare               0.05
Media & Entertainment    0.04
Real Estate              0.03
Telecom                  0.02
Logistics                0.02
Energy                   0.02
Gambling & Casinos       0.01
Service                  0.01
Name: proportion, dtype: float64

total: 1.0000000000000002

In [26]:
industry_series.value_counts(sort=False,)

Industry
Technology               15
Fashion & Retail         18
Finance & Investments    13
Diversified               6
Media & Entertainment     4
Telecom                   2
Food & Beverage           8
Automotive                6
Logistics                 2
Real Estate               3
Metals & Mining           9
Manufacturing             5
Gambling & Casinos        1
Healthcare                5
Service                   1
Energy                    2
Name: count, dtype: int64

In [27]:
industry_series.count() # no of non-null values intentinally kept first row as empty

100

## accessing and slicing via position

In [28]:
networth_series

Name
Elon Musk                   $219,000,000,000
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
                                  ...
Vladimir Potanin             $17,300,000,000
Harold Hamm & family         $17,200,000,000
Sun Piaoyang                 $17,100,000,000
Luo Liguo & family           $17,000,000,000
Peter Woo                    $17,000,000,000
Name: NetWorth, Length: 101, dtype: object

In [29]:
networth_series.head(5),

(Name
 Elon Musk                   $219,000,000,000
 Jeff Bezos                  $171,000,000,000
 Bernard Arnault & family    $158,000,000,000
 Bill Gates                  $129,000,000,000
 Warren Buffett              $118,000,000,000
 Name: NetWorth, dtype: object,)

In [30]:
networth_series[5]

C:\Users\bvkir\AppData\Local\Temp\ipykernel_24956\2698832707.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  networth_series[5]

'$111,000,000,000'

In [31]:
networth_series.iloc[5], networth_series[[1,2,3]]

C:\Users\bvkir\AppData\Local\Temp\ipykernel_24956\353498352.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  networth_series.iloc[5], networth_series[[1,2,3]]

('$111,000,000,000',
 Name
 Jeff Bezos                  $171,000,000,000
 Bernard Arnault & family    $158,000,000,000
 Bill Gates                  $129,000,000,000
 Name: NetWorth, dtype: object)

In [32]:
networth_series[1:5], networth_series.iloc[1:5] # exclusion of 5

(Name
 Jeff Bezos                  $171,000,000,000
 Bernard Arnault & family    $158,000,000,000
 Bill Gates                  $129,000,000,000
 Warren Buffett              $118,000,000,000
 Name: NetWorth, dtype: object,
 Name
 Jeff Bezos                  $171,000,000,000
 Bernard Arnault & family    $158,000,000,000
 Bill Gates                  $129,000,000,000
 Warren Buffett              $118,000,000,000
 Name: NetWorth, dtype: object)

In [33]:
networth_series[2:10:3], networth_series.iloc[2:10:3]

(Name
 Bernard Arnault & family    $158,000,000,000
 Larry Page                  $111,000,000,000
 Steve Ballmer                $91,400,000,000
 Name: NetWorth, dtype: object,
 Name
 Bernard Arnault & family    $158,000,000,000
 Larry Page                  $111,000,000,000
 Steve Ballmer                $91,400,000,000
 Name: NetWorth, dtype: object)

In [34]:
print(networth_series.iloc[-1])
print(networth_series.iloc[-1:]) # won't raise exception if it is empty

$17,000,000,000
Name
Peter Woo    $17,000,000,000
Name: NetWorth, dtype: object

## accessing and slicing via index

In [35]:
print(networth_series["Jeff Bezos"])
print(networth_series.loc["Jeff Bezos"])

$171,000,000,000
$171,000,000,000

In [36]:
print(networth_series["Jeff Bezos": "Mukesh Ambani"])
print(networth_series.loc["Jeff Bezos": "Mukesh Ambani"]) # inclusive of Mukesh Ambani

Name
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
Larry Page                  $111,000,000,000
Sergey Brin                 $107,000,000,000
Larry Ellison               $106,000,000,000
Steve Ballmer                $91,400,000,000
Mukesh Ambani                $90,700,000,000
Name: NetWorth, dtype: object
Name
Jeff Bezos                  $171,000,000,000
Bernard Arnault & family    $158,000,000,000
Bill Gates                  $129,000,000,000
Warren Buffett              $118,000,000,000
Larry Page                  $111,000,000,000
Sergey Brin                 $107,000,000,000
Larry Ellison               $106,000,000,000
Steve Ballmer                $91,400,000,000
Mukesh Ambani                $90,700,000,000
Name: NetWorth, dtype: object

In [37]:
networth_series.index

Index(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family', 'Bill Gates',
       'Warren Buffett', 'Larry Page', 'Sergey Brin', 'Larry Ellison',
       'Steve Ballmer', 'Mukesh Ambani',
       ...
       'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting', 'Stefan Persson',
       'Steve Cohen', 'Vladimir Potanin', 'Harold Hamm & family',
       'Sun Piaoyang', 'Luo Liguo & family', 'Peter Woo'],
      dtype='object', name='Name', length=101)

In [38]:
industry_series.index

Index(['Elon Musk', 'Jeff Bezos', 'Bernard Arnault & family', 'Bill Gates',
       'Warren Buffett', 'Larry Page', 'Sergey Brin', 'Larry Ellison',
       'Steve Ballmer', 'Mukesh Ambani',
       ...
       'Savitri Jindal & family', 'Wang Wenyin', 'Li Xiting', 'Stefan Persson',
       'Steve Cohen', 'Vladimir Potanin', 'Harold Hamm & family',
       'Sun Piaoyang', 'Luo Liguo & family', 'Peter Woo'],
      dtype='object', name='Name', length=101)

In [39]:
industry_series_with_industry_col = pd.read_csv('../../data/TopRichestInWorld.csv', usecols=['Name', 'Industry'], index_col='Industry').squeeze()

In [40]:
industry_series_with_industry_col

Industry
NaN                                     Elon Musk
Technology                             Jeff Bezos
Fashion & Retail         Bernard Arnault & family
Technology                             Bill Gates
Finance & Investments              Warren Buffett
                                   ...
Metals & Mining                  Vladimir Potanin
Energy                       Harold Hamm & family
Healthcare                           Sun Piaoyang
Manufacturing                  Luo Liguo & family
Real Estate                             Peter Woo
Name: Name, Length: 101, dtype: object

In [41]:
industry_series_with_industry_col.loc['Technology']

Industry
Technology          Jeff Bezos
Technology          Bill Gates
Technology          Larry Page
Technology         Sergey Brin
Technology       Larry Ellison
Technology       Steve Ballmer
Technology     Mark Zuckerberg
Technology        Michael Dell
Technology     MacKenzie Scott
Technology          Ma Huateng
Technology          Shiv Nadar
Technology    William Lei Ding
Technology             Jack Ma
Technology        Eric Schmidt
Technology        Jensen Huang
Name: Name, dtype: object

In [42]:
industry_series_with_industry_col.loc['Technology': 'Media & Entertainment']

KeyError: "Cannot get left slice bound for non-unique label: 'Technology'"